# Elixir & Mix
/_build/
deps/
erl_crash.dump
*.ez

# Releases
/rel/
/rpm_server-*

# Compiled files
*.beam

# Static assets (optional)
/priv/static/*
!/priv/static/.gitkeep
!/priv/static/style.css


# Environment files
.env
.env.*

# Editor-specific
.vscode/
.idea/
*.swp
*.swo
*~

# OS-specific
.DS_Store
Thumbs.db


# Logs
/log/
*.log

# Dialyzer PLT files
*.plt
*.plt.*
